{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}

<form action="" class="action" method="POST" >
    {% csrf_token %}
    {{form.fullName|as_crispy_field}}
    {{form.email|as_crispy_field}}
    {{form.phone|as_crispy_field}}
    
    <div class="row">
        <div class="col-md-4">
            {{form.empCode|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.position|as_crispy_field}}
        </div>

    </div>
    
    <button type="submit" class="btn btn-success">
        <i class="fa fa fa-lg"></i> Submit
    </button>
    
    
</form>


{% endblock content%}